body {
  font-family: helvetica, arial, sans-serif;
}

#app {
  margin: 30px;
}

.bar {
  fill: orange;
}

.bar:hover{
  fill:steelblue;
}

.selection ul {
  position: relative;
  left: 60em;
  top: 10em;
  margin: 0;
  padding: 0;
}

.selection ul li {
  margin-bottom: 10px;
  cursor: pointer;
  list-style-type: none;
  font-size: 2em;
}